$shadow-span: 0 0 2px 1px gray;
$c-primary: #4900f5;
$c-primary-alpha: #4900f54d;
$text-primary: #ffffff;
$c-dwarf: gray;
$font-size: 20px;
$c-height: 35px;
$shadow: 1px 1px 10px 2px #eee;
p {
    padding: 10px 15px;
    background: $c-primary-alpha;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    font-size: $font-size - 7;
    border-radius: 20px;
    position: relative;
    min-width: 7vw;
    width: fit-content;
    text-align: center;
    span {
        position: absolute;
        height: 20px;
        width: 20px;
        background: white;
        border-radius: 50%;
        top: -5px;
        left: -5px;
        cursor: pointer;
        color: black;
        display: grid;
        place-content: center;
        box-shadow: $shadow-span;
    }
}

.wrapper {
    min-width: 20vw;
    width: fit-content;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $shadow;
    margin-bottom: 10px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    //   position: relative;
    input {
        cursor: pointer;
        transform: scale(1.5);
    }
    &:active {
        transform: scale(0.98);
    }
    @media (max-width: 750px) {
        width: 80vw;
    }
}

#user-input-wrapper {
    &:active {
        transform: none;
    }
    button {
        padding: 5px 8px;
        border: none;
        flex: 0.2;
        height: $c-height;
        background: $c-primary;
        color: $text-primary;
        border-radius: 6px;
        cursor: pointer;
        &:active {
            transform: scale(0.98);
        }
        &:disabled {
            background-color: gray;
            cursor: not-allowed;
        }
    }
}

#user-input {
    cursor: pointer;
    transform: scale(1);
    font-size: $font-size - 5;
    border: 0;
    padding: 5px 8px;
    border-radius: 6px;
    height: $c-height;
    flex: 0.7;
    &::selection {
        background: $c-primary-alpha;
        color: $text-primary;
    }
    &:focus {
        outline: 1px solid $c-primary;
    }
}

.ripple {
    // position: absolute;
    background-position: center;
    transition: background 1s ease-out;
    &:hover {
        background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
    }
    &:active {
        background-color: $c-primary-alpha;
        background-size: 100%;
        transition: background 0s;
    }
}

.snackbar {
    position: absolute;
    height: 20vh;
    width: 100%;
    background: rgb(59, 184, 50);
    bottom: 0;
    color: white;
    font-size: $font-size;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-shadow: 0 3px 10px 2px gray;
    transform: translateY(150%);
    transition: all 0.8s ease-in-out;
}

.snackbar.active {
    transform: translateY(0);
}

.snackbar.warn {
    transform: translateY(0);
    background-color: tomato;
}